---
layout: default
---
<p>The <strong>Digital Signature Podcast</strong> highlights the unique journeys and pathways to computing careers, and the many ways that we can apply computing in positive ways to the world around us.  We named it &quot;Digital Signature&quot; because a digital signature is used on the Internet to identify ourselves to others; each one is unique, just like our own experiences in developing and using technology for the things we're passionate about.</p>

<p>Join us for conversations with guests with many different and unique experiences to learn about how you can launch your own passions into careers and opportunities in computing and technology.  We will also feature materials and activities at all levels that you, families, teachers, and anyone can try out at home to experience a &quot;day in the life&quot; of each of our guests.</p>

<div class="card-grid">
<!--     -->
    
    {% assign first_post = site.posts.first %}
    <div class="cards first">
        <h1 class="label reversed">Latest Episode</h1>
        <div class="center-content">
            <div class="seven columns">
                <h2><a class="post-link" href="{{ first_post.url | prepend: site.baseurl }}">{{ first_post.title }}</a></h2>
                
                <p class="meta">{{ first_post.date | date: "%b %-d, %Y" }}</p>
                <p>{{ first_post.summary }} </p> 
            </div>
            <div class="four columns center-content">
                {% if page.type contains "audio" %}
                <a href="{{ first_post.file }}" class="button button-primary" download="{{ first_post.title }}">Listen Now</a>    
                {% elsif page.type contains "youtube" %}
                <a href="https://www.youtube.com/watch?v={{ first_post.file }}" class="button button-primary" download="{{ first_post.title }}">Watch Now</a> 
                {% else %}
                <a href="{{ first_post.file }}" class="button button-primary" download="{{ first_post.title }}">Download Now</a> 
                {% endif %}
            </div>
        </div>            
        </div>
    
    {% for post in site.posts offset:1 %}
        <div class="cards">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <p>{{ post.summary }} </p>
        </div>
    {% endfor %}
    
</div>

<div class="container center-content extra-padding">
</div>
