<nav style="min-width: 100vw;">
    <ul>
        <li style="min-width: 20vw;"><a href="{{ site.baseurl }}/">Home</a></li>
        <li style="min-width: 20vw;"><a href="{{ site.baseurl }}/about">About</a></li>
        <li style="min-width: 20vw;"><a href="http://www.digitalsignature.tv">Youtube</a></li>
        <li style="min-width: 20vw;"><a href="{{ site.baseurl }}/podcast.xml">RSS</a></li>
        <li style="min-width: 20vw;"><a href="{{ site.baseurl  }}/suggestions">Suggestions</a></li>
    </ul> 
</nav>