<!-- to use, go to https://utteranc.es/ and generate script; enable issues on the repository and set watch settings to all notifications to enable comment emails.  Create issue label under github repo Issues if used below.  Install the utterances app on the repo from https://github.com/apps/utterances -->
<script src="https://utteranc.es/client.js"
        repo="BillJr99/digitalsignaturepodcast"
        issue-term="pathname"
        label="Comment"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>