---
layout: default
---
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<article class="post">

    <div class="center-content">
    <h1 class="post-title">{{ page.title }}</h1>
    </div>
    <div class="container extra-padding">
        <div>
            <h2>{% assign words = page.gradelevel | split: ' ' %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% assign words = page.subject | split: ' ' %}{% for word in words %}{{ word | capitalize }} {% endfor %}({{ page.category | capitalize }})</h2>
            <div>
                <p>
                    {% if page.thumbnail %}
                        <img style="float: left; padding: 0px 10px 5px 0px; max-width: 256px;" src="{{ page.thumbnail }}">
                    {% endif %}
                    
                    <p>
                        <i>{{ page.summary }}</i>

                        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                            {{ page.date | date: "%b %-d, %Y" }}</time> | By {{ page.authors }}
                            {% if page.gitrepo %}
                                <br />
                                View or import from this git repository: <a href="{{ page.gitrepo }}">{{ page.gitrepo }}</a>
                            {% endif %}
                        </p>
                    </p>
                </p>
            </div>
        </div>
        
        <div style="clear: both;"></div>
        
        {% if page.embed %}
        <div class="container center-content">
        <div>
        {% if page.embedtype contains "audio" %}
            <h2>Audio Stream</h2>
            <audio controls>
                <source src="{{ page.embed }}" type="audio/mp3">
            </audio>
        {% elsif page.embedtype contains "youtube" %}
            <h2>Video</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.embed}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
        {% else %}
            {{page.embed}}
        {% endif %}
        </div>
        <p></p>
        {% endif %}
        
        {% if page.lessonplans %}
        <h2>Lesson Plans</h2>
        <ul>
        {% for plan in page.lessonplans %}
        <li><a href="{{ plan.plan.link }}">{{ plan.title }}</a></li>
        {% endfor %}
        </ul>
        <p></p>
        {% endif %}         
        
        <h2>Activity</h2>
        {{ content }}       
    </div>

</article>
