---
layout: default
---
<article class="post">

    <div class="center-content">
    <h1 class="post-title">{{ page.title }}</h1>
    </div>
    <div class="container extra-padding">
        <h2>{{ page.gradelevel | capitalize}} {{ page.subject | capitalize }} ({{ page.category | capitalize }})</h2>
        <p>
            {% if page.thumbnail %}
                <img float="left" width="256" src="{{ page.thumbnail }}">
            {% endif %}
            <i>{{ page.summary }}</i>
        </p>
        
        <h2>Activity</h2>
        {{ content }}
    </div>

</article>
