---
layout: default
---
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<article class="post">

    <div class="center-content">
    <h1 class="post-title">{{ page.title }}</h1>
    </div>
    <div class="container extra-padding">
        <div>
            <h2>{% for word in page.gradelevel | split: ' ' %}{% endfor %} {% for word in page.subject | split: ' ' %}{{ word | capitalize }}{{ word | capitalize }}{% endfor %} ({% for word in page.category | split: ' ' %}{{ word | capitalize }}{% endfor %})</h2>
            <p>
                {% if page.thumbnail %}
                    <img style="float: left; padding: 0px 10px 5px 0px; max-width: 256px;" src="{{ page.thumbnail }}">
                {% endif %}

                <i>{{ page.summary }}</i>

                <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ page.date | date: "%b %-d, %Y" }}</time> | By {{ page.authors }}
                    {% if page.gitrepo %}
                        <br />
                        View or import from this git repository: <a href="{{ page.gitrepo }}">{{ page.gitrepo }}</a>
                    {% endif %}
                </p>
            </p>
        </div>
        
        <div style="clear: both;"></div>
        
        <h2>Activity</h2>
        {{ content }}
        
        {% if page.embedvideo %}
        <h2>Video</h2>
        {{ page.embedvideo }}
        {% endif %}
    </div>

</article>
