---
layout: default
---
<article class="post" >

    <h1 class="u-full-width" >{{ page.title }}</h1>
       
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> | A discussion with {{ page.voices }}</p>
    
    <div class="container center-content">
    <div class="seven columns">
    {% if page.filetype contains "audio" %}
    <audio controls>
        <source src="{{ page.file }}" type="audio/mp3">
    </audio>
    {% elsif page.filetype contains "youtube" %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.file}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    {% else %}
    {{page.file}}
    {% endif %}
    </div>
    <div class="four columns center-content">
    
    <!--<a href="{{ site.baseurl }}{{ page.file }}" class="button u-full-height" download="{{ page.title }}">Download Now</a>-->
    </div>
        </div>
<div>
    {{ content }}
    
    {% if page.activitylink and page.activitytitle and page.activitydescription %}
    <div class="center-content">
        <h3>Activity: {{ page.activitytitle }}</h3>
    </div>
    <br>
    <div class="center-content">
    <p>
        {{ page.activitydescription }}
    </p>    
    </div>
    <br>
    <div class="center-content">    
    <p>    
        <a href="{{ page.activitylink }}" class="button u-full-height">Try it Out!</a>
    </p>
    </div>    
    {% endif %}
    
    <div class="four columns center-content">
        <p><em>Keywords - {{ page.keywords }}</em></p>
    </div>    
</div>

    
</article>

<script src="{{ site.baseurl }}/js/plyr.js"></script>
<script>plyr.setup();</script>